#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ftco-footer {
  font-size: 14px;
  background: #232323;
  padding: 6em 0;
}
.ftco-bg-dark {
  background: #3c312e;
}
.ftco-section {
  padding: 7em 0;
  position: relative;
}
.ftco-footer .ftco-footer-widget {
  width: 100%;
  display: block;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.ftco-footer .ftco-footer-widget h2 {
  font-weight: normal;
  color: #fff;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 500;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.block-23 ul li .icon {
  width: 40px;
  font-size: 18px;
  padding-top: 2px;
  color: white;
}

.block-23 ul li .icon,
.block-23 ul li .text {
  display: table-cell;
  vertical-align: top;
}
.block-23 ul li .icon,
.block-23 ul li .text {
  display: table-cell;
  vertical-align: top;
}

.block-23 ul li span {
  color: rgba(255, 255, 255, 0.7);
}
.ftco-footer {
  font-size: 14px;
  background: #232323;
  padding: 6em 0;
}
.block-23 ul li,
.block-23 ul li > a {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
}
.block-23 ul li,
.block-23 ul li > a {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
}

.ftco-footer a {
  color: rgba(255, 255, 255, 0.7);
}
.ftco-footer .ftco-footer-widget ul li a span {
  color: #fff;
}
.block-23 ul li .icon {
  width: 40px;
  font-size: 18px;
  padding-top: 2px;
  color: white;
}
.block-23 ul li .icon,
.block-23 ul li .text {
  display: table-cell;
  vertical-align: top;
}
.block-23 ul li,
.block-23 ul li > a {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
}

.ftco-footer a {
  color: rgba(255, 255, 255, 0.7);
}
.ftco-footer .ftco-footer-widget {
  width: 100%;
  display: block;
}
.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.ftco-animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.ftco-footer .subscribe-form .form-group .submit:hover {
  cursor: pointer;
  background: #fd5f00 !important;
}
.ftco-footer .subscribe-form .form-group .submit {
  color: #fff !important;
  font-size: 16px;
  background: #5d50c6 !important;
  border: none !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  .float-md-left {
    float: left !important;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
}
.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
