.ftco-no-pt {
  padding-top: 0;
}
.ftco-section {
  padding: 7em 0;
  position: relative;
}
.ftc-no-pb {
  padding-bottom: 0 !important;
}

figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.wrap-about .img {
  width: 100%;
}
.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* .ftco-animate {
  opacity: 0;
  visibility: hidden;
} */
.wrap-about {
  position: relative;
}
@media (min-width: 768px) {
  .pr-md-4 {
    padding-right: 1.5rem !important;
  }
}
.py-5 {
  padding-bottom: 3rem !important;
}
.pt-5,
.py-5 {
  padding-top: 3rem !important;
}
@media (min-width: 768px) {
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.ftco-animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.wrap-about h2 {
  font-weight: 500;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}

h2,
.h2 {
  font-size: 2rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.mt-5 {
  margin-top: 3rem !important;
}
@media (min-width: 992px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.services-2 {
  margin-bottom: 30px;
}
.services-2 .icon {
  line-height: 1;
  position: relative;
  width: 5em;
  height: 5em;
  background: #fd5f00;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.services-2 .icon span {
  font-size: 30px;
  color: #fff;
}
.ftco-no-pt {
  padding-top: 0;
}
.services-2 .text {
  width: calc(100% - 80px);
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.services-2 .text h3 {
  font-size: 20px;
  font-weight: 500;
}
.ftco-section {
  padding: 0em 0;
  position: relative;
}
